<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout=”http://www.ultraq.net.nz/thymeleaf/layout”>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device=width, initial-scale=1">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<script src="/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet"  th:href="@{/css/bs_custom.css}">
	<title></title>
</head>

<body>
	<nav layout:replace="~{layout/header::header}"></nav>
	<div layout:fragment="content" style="width: 95%; margin: 0 auto;"></div>
</body>

</html>