<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout(title='CSV出力（受注一覧）')}">

<head>
	<meta charset="UTF-8">

	<link rel="stylesheet" href="https://cdn.datatables.net/2.2.1/css/dataTables.dataTables.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.2.0/css/buttons.dataTables.css">
	<script src="https://code.jquery.com/jquery-3.7.1.js" defer></script>
	<script src="https://cdn.datatables.net/2.2.1/js/dataTables.js" defer></script>
	<script src="https://cdn.datatables.net/buttons/3.2.0/js/dataTables.buttons.js" defer></script>
	<script src="https://cdn.datatables.net/buttons/3.2.0/js/buttons.dataTables.js" defer></script>
	<script src="https://cdn.datatables.net/buttons/3.2.0/js/buttons.html5.min.js" defer></script>

	<script th:src="@{/js/datatablesCsv.js}" defer></script>
	<title th:text="${title}"></title>
</head>

<body>
	<div class="mt-3" layout:fragment="content">
		<p class="lead" th:text="${title}"></p>

		<table id="list">
			<thead>
				<tr>
					<th th:text="受注ID"></th>
					<th th:text="ステータス"></th>
					<th th:text="受注日"></th>
					<th th:text="案件ID"></th>
					<th th:text="案件名"></th>
					<th th:text="顧客ID"></th>
					<th th:text="顧客名"></th>
					<th th:text="受注商品ID"></th>
					<th th:text="商品ID"></th>
					<th th:text="商品名"></th>
					<th th:text="値段"></th>
					<th th:text="数量"></th>
					<th th:text="値引き"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item:${list}">
					<td th:text="${item.orders.id}"></td>

					<th:block th:each="status : ${shippingStatus}">
						<td th:if="${status.value eq item.orders.cases.shippingStatus}" th:text="${status.view}"></td>
					</th:block>
					<td th:if="${item.orders.cases.shippingStatus == 0}" th:text="#{order}"></td>
					<td th:text="${#dates.format(item.orders.orderDate, 'yyyy-MM-dd')}"></td>
					<td th:text="${item.orders.cases.id}"></td>
					<td th:text="${item.orders.cases.caseName}"></td>
					<td th:text="${item.orders.cases.customer.id}"></td>
					<td th:text="${item.orders.cases.customer.getFullName()}"></td>
					<td th:text="${item.id}"></td>
					<td th:text="${item.product.id}"></td>
					<td th:text="${item.product.productName}"></td>
					<td th:text="${item.product.price}"></td>
					<td th:text="${item.quantity}"></td>
					<td th:text="${item.discount}"></td>
				</tr>
			</tbody>
		</table>

	</div>
</body>

</html>