<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout(title='アカウント追加')}">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/edit.css}">
	<title th:text="${title}"></title>

<body>
	<div class="mt-3" style="width:90%; margin: 0 auto;" layout:fragment="content">
		<div class="card m-3">
			<div class="card-header d-flex justify-content-between align-items-center">
				<div th:text="アカウント追加"></div>
			</div>
			<div class="card-body">

				<th:block th:if="${errMsg}" th:each="text : ${errMsg}">
					<p class="err" th:text="${text}"></p>
				</th:block>

				<form th:action="@{/admin/user/create}" method="post" th:object="${formUser}">
					<table>
						<tr>
							<th>ユーザーID</th>
							<td><input type="text" th:field="*{userId}"></td>
							<td th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}" th:errorclass="err">
							</td>
						</tr>
						<tr>
							<th>姓</th>
							<td><input type="text" th:field="*{lastName}"></td>
							<td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" th:errorclass="err">
							</td>
						</tr>
						<tr>
							<th>名</th>
							<td><input type="text" th:field="*{firstName}"></td>
							<td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" th:errorclass="err">
							</td>
						</tr>
						<tr>
							<th>メールアドレス</th>
							<td><input type="email" th:field="*{emailAddress}"></td>
							<td th:if="${#fields.hasErrors('emailAddress')}" th:errors="*{emailAddress}"
								th:errorclass="err"></td>
						</tr>
						<tr>
							<th>パスワード</th>
							<td><input type="password" th:field="*{password}"></td>
							<td th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:errorclass="err">
							</td>
						</tr>
						<tr>
							<th>パスワード（確認用）</th>
							<td><input type="password" th:field="*{passwordReenter}"></td>
							<td th:if="${#fields.hasErrors('passwordReenter')}" th:errors="*{passwordReenter}"
								th:errorclass="err">
							</td>
							<td th:if="${#fields.hasErrors('passwordValid')}" th:errors="*{passwordValid}"
								th:errorclass="err">
							</td>
						</tr>
						<tr>
							<th>部署</th>
							<td>
								<select th:field="*{departmentId}">
									<option th:each="item : ${departmentList}" th:value="${item.id}"
										th:text="${item.departmentName}"
										th:select="${item.id == formUser.departmentId}"></option>
								</select>
							</td>
						</tr>
						<tr>
							<th>ロール</th>
							<td>
								<select th:field="*{role}">
									<option th:each="item : ${roleList}" th:value="${item.id}"
										th:text="${item.roleName}" th:select="${item.id == formUser.role}"></option>
								</select>
							</td>
						</tr>
					</table>
					<input type="button" th:onclick="|location.href='@{/admin/user}'|" value="取消">
					<input type="submit" value="保存">
				</form>
			</div>
		</div>
	</div>
</body>

</html>