<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout(title='パスワード変更')}">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/edit.css}">
	<script src="/js/formDoubleSubmission.js"></script>
	<title th:text="${title}"></title>
</head>
<body>
	<div class="mt-3" style="width:90%; margin: 0 auto;" layout:fragment="content">
		<div class="card m-3">
			<div class="card-header">
				<div th:text="${'ID：' + form.id + '　'+ form.getFullName()}"></div>
			</div>
			<div class="card-body">

				<form th:action="@{/admin/user/{id}/password(id=${form.id})}" method="post"
					th:object="${form}">
					<input type="hidden" th:field="*{id}">
					<input type="hidden" th:field="*{lastName}">
					<input type="hidden" th:field="*{firstName}">

					<div class="row mb-3">
						<label class="col-sm-2 col-form-label">パスワード</label>
						<div class="col-sm-3">
							<input class="form-control" type="password" th:field="*{password}">
						</div>
						<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:errorclass="err">
					</div>

					<div class="row mb-3">
						<label class="col-sm-2 col-form-label">パスワード（確認用）</label>
						<div class="col-sm-3">
							<input class="form-control" type="password" th:field="*{passwordReenter}">
						</div>
						<span th:if="${#fields.hasErrors('passwordValid')}" th:errors="*{passwordValid}"
							th:errorclass="err">
					</div>

					<div>
						<input type="button" th:onclick="|location.href='@{/admin/user}'|" value="取消">
						<input type="submit" value="保存">
					</div>
				</form>
			</div>
		</div>
	</div>
</body>

</html>