<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout(title='顧客・案件詳細')}">

<head>
	<meta charset="UTF-8">
	<title th:text="${title}"></title>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script th:src="@{/js/customerDetails.js}" defer></script>
	<script th:src="@{/js/dialog.js}" defer></script>
	<script src="/js/formDoubleSubmission.js"></script>
	<link rel="stylesheet" th:href="@{/css/details.css}">
	<script th:inline="javascript">
		//customerをjsへ受け渡し
		const customer = /*[[${customer}]]*/"customer";
	</script>
</head>

<body>
	<div class="row mt-3" style="width:95%; margin: 0 auto;" layout:fragment="content">
		<!--/* 顧客情報 start */-->
		<div class="customer">
			<div class="card">
				<div class="card-header d-flex justify-content-between align-items-center">
					<div th:text="${'顧客ID：' + customer.id + '　' + customer.getFullName() + ' 様'}"></div>
					<div style="text-align:right;">
						<button type="button" class="btn btn-primary"
							th:attr="onclick='location.href=\'/customer/' + ${customer.id} + '/edit' + '\''">編集</button>
					</div>
				</div>
				<div class="card-body">
					<table>
						<tr>
							<th>姓</th>
							<td th:text="${customer.lastName}"></td>
						</tr>
						<tr>
							<th>名</th>
							<td th:text="${customer.firstName}"></td>
						</tr>
						<tr>
							<th>〒</th>
							<td th:text="${customer.zipcode}"></td>
						</tr>
						<tr>
							<th>住所</th>
							<td th:text="${customer.address}"></td>
						</tr>
						<tr>
							<th>電話番号</th>
							<td th:text="${customer.phoneNumber}"></td>
						</tr>
						<tr>
							<th>備考</th>
							<td th:text="${customer.memo}"></td>
						</tr>
					</table>
				</div>
				<div class="card-footer" style="text-align:right;">
					<form th:action="@{/customer/delete/{id}(id=${customer.id})}" method="post">
						<button type="submit" class="btn btn-primary delete-action">削除</button>
					</form>
				</div>
			</div>
		</div>
		<!--/* 顧客情報 end */-->

		<!--/* 案件情報 start */-->

		<div class="cases">
			<button type="button" class="btn btn-secondary"
				th:onclick="|location.href='@{/case/create/{customerId}(customerId=${customer.id})}'|">案件追加</button>

			<label>表示案件ID</label>
			<select id="submit_case_id" onchange="selectCase()" name="selectCase">
				<option th:each="case:${customer.cases}" th:value="${'case' + case.id}" th:text="${case.id}"
					th:selected="${case.id == caseId}"></option>
			</select>

			<label>表示見積ID</label>
			<select id="quotation_ids" onchange="selectQuotation()">
				<option></option>
				</option>
			</select>

			<label>表示問い合わせID</label>
			<select id="inquiry_ids" onchange="selectInquiry()">
				<option></option>
				</option>
			</select>

			<div th:each="case:${customer.cases}">

				<div class="card my-3 case-items" th:name="${'case' + case.id}">
					<div class="card-header d-flex justify-content-between align-items-center">
						<div>
							<span th:text="${'案件ID：' + case.id + '　案件名：' + case.caseName}"></span>
							<span class="badge bg-danger text-wrap fs-6 mx-3"
								th:if="${case.shippingStockFlg == true}">送付処理済</span>
						</div>
						<div style="text-align:right;">
							<button type="button" class="btn btn-primary"
								th:onclick="|location.href='@{/case/{id}(id=${case.id})}'|">編集</button>
						</div>
					</div>
					<div class="card-body">
						<table>
							<tr>
								<th>作成日</th>
								<td th:text="${#dates.format(case.caseDate, 'yyyy-MM-dd')}"></td>
							</tr>
							<tr>
								<th>案件名</th>
								<td th:text="${case.caseName}"></td>
							</tr>
							<tr>
								<th>受注ステータス</th>
								<td>
									<th:block th:switch="${case.shippingStatus}">
										<span th:case="4" th:text="キャンセル"></span>
										<th:block th:case="*">
											<span th:if="${#lists.isEmpty(case.order) eq false}" th:text="受注"></span>
											<span
												th:if="${#lists.isEmpty(case.order) eq true && #lists.isEmpty(case.quotation) eq false}"
												th:text="見積"></span>
											<span
												th:if="${(#lists.isEmpty(case.order) eq true && #lists.isEmpty(case.quotation) eq true) && #lists.isEmpty(case.inquiry) eq false}"
												th:text="問い合わせ"></span>
										</th:block>
									</th:block>
								</td>
							</tr>
							<tr>
								<th>発送ステータス</th>
								<td th:switch="${case.shippingStatus}">
									<span th:case=1 th:text="支払待ち"></span>
									<span th:case=2 th:text="発送待ち"></span>
									<span th:case=3 th:text="発送済み"></span>
									<span th:case=4 th:text="キャンセル"></span>
									<span th:case="*">-</span>
								</td>
							</tr>
							<tr>
								<th>備考</th>
								<td th:text="${case.memo}"></td>
							</tr>
						</table>
					</div>
					<div class="card-footer" style="text-align:right;">
						<form th:action="@{/case/delete/{id}(id=${case.id})}" method="post">
							<button type="submit" class="btn btn-primary delete-action">削除</button>
						</form>
					</div>
				</div>
				<!--/* 案件情報 end */-->

				<!--/* 受注情報 start */-->
				<div class="case-items" th:name="${'case' + case.id}">
					<button type="button" class="btn btn-secondary" th:name="${'case' + case.id}"
						th:if="${#lists.isEmpty(case.order) eq true}"
						th:onclick="|location.href='@{/order/create/{caseId}(caseId=${case.id})}'|">受注登録</button>
					<div class="card mt-3" th:name="${'case' + case.id}" th:if="${case.order}">
						<div class="card-header d-flex justify-content-between align-items-center">
							<div th:text="${'受注ID：' + case.order.id}"></div>


							<div style="text-align:right;">
								<button type="button" class="btn btn-primary"
									th:onclick="|location.href='@{/order/{id}(id=${case.order.id})}'|">編集</button>
							</div>
						</div>
						<div class="card-body">
							<table>
								<tr>
									<th>作成日</th>
									<td th:text="${#dates.format(case.order.orderDate, 'yyyy-MM-dd')}"></td>
								</tr>
								<tr>
									<th>受注内容</th>
									<td>
										<table id="itemTable">
											<thead>
												<tr>
													<th>商品</th>
													<th>単価</th>
													<th>個数</th>
													<th>値引き</th>
													<th>金額</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="item : ${case.order.orderProduct}">
													<td th:text="${item.product.productName}"></td>
													<td th:text="${item.product.price}"></td>
													<td th:text="${item.quantity}"></td>
													<td th:text="${item.discount}"></td>
													<td th:text="${item.product.price * item.quantity - item.discount}">
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<th>備考</th>
									<td th:text="${case.order.memo}"></td>
								</tr>
							</table>
						</div>
						<div class="card-footer" style="text-align:right;">
							<form th:action="@{/order/delete/{id}(id=${case.order.id})}" method="post">
								<button type="submit" class="btn btn-primary delete-action">削除</button>
							</form>
						</div>
					</div>
				</div>
				<!--/* 受注情報 end */-->

				<div class="mt-3 case-items" th:name="${'case' + case.id}">
					<button type="button" class="btn btn-secondary" th:if="${#lists.isEmpty(case.order) eq true}"
						th:onclick="|location.href='@{/quotation/create/{caseId}(caseId=${case.id})}'|">見積追加</button>
				</div>

				<div th:each="quotation:${case.quotation}" class="quotation-items"
					th:name="${'quotation' + quotation.id}">

					<div class="card mt-3" th:if="${quotation}">
						<div class="card-header d-flex justify-content-between align-items-center">
							<div th:text="${'見積ID：' + quotation.id}"></div>
							<div style="text-align:right;">
								<button type="button" class="btn btn-primary"
									th:onclick="|location.href='@{/quotation/{id}(id=${quotation.id})}'|">編集</button>
							</div>
						</div>
						<div class="card-body">
							<table>
								<tr>
									<th>作成日</th>
									<td th:text="${#dates.format(quotation.quotationDate, 'yyyy-MM-dd')}"></td>
								</tr>
								<tr>
									<th>見積内容</th>
									<td>
										<table id="itemTable">
											<thead>
												<tr>
													<th>商品</th>
													<th>単価</th>
													<th>個数</th>
													<th>値引き</th>
													<th>金額</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="item : ${quotation.quotationProduct}">
													<td th:text="${item.product.productName}"></td>
													<td th:text="${item.product.price}"></td>
													<td th:text="${item.quantity}"></td>
													<td th:text="${item.discount}"></td>
													<td th:text="${item.product.price * item.quantity - item.discount}">
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<th>メモ</th>
									<td th:text="${quotation.memo}"></td>
								</tr>
							</table>
						</div>
						<div class="card-footer" style="text-align:right;">
							<form th:action="@{/quotation/delete/{id}(id=${quotation.id})}" method="post">
								<button type="submit" class="btn btn-primary delete-action">削除</button>
							</form>
						</div>
					</div>
				</div>
				<!--/* 見積情報 end */-->

				<div class="mt-3 case-items" th:name="${'case' + case.id}">
					<button type="button" class="btn btn-secondary"
						th:onclick="|location.href='@{/inquiry/create/{caseId}(caseId=${case.id})}'|">問い合わせ追加</button>
				</div>

				<div th:each="inquiry:${case.inquiry}" class="inquiry-items" th:name="${'inquiry' + inquiry.id}">
					<div class="card mt-3" th:if="${inquiry}">
						<div class="card-header d-flex justify-content-between align-items-center">
							<div th:text="${'問い合わせID：' + inquiry.id}"></div>
							<div style="text-align:right;">
								<button type="button" class="btn btn-primary"
									th:onclick="|location.href='@{/inquiry/{id}(id=${inquiry.id})}'|">編集</button>
							</div>
						</div>
						<div class="card-body">
							<table>
								<tr>
									<th>作成日</th>
									<td th:text="${#dates.format(inquiry.inquiryDate, 'yyyy-MM-dd')}"></td>
								</tr>
								<tr>
									<th>問い合わせ内容</th>
									<td th:text="${inquiry.contents}"></td>
								</tr>
							</table>
						</div>
						<div class="card-footer" style="text-align:right;">
							<form th:action="@{/inquiry/delete/{id}(id=${inquiry.id})}" method="post">
								<button type="submit" class="btn btn-primary delete-action">削除</button>
							</form>
						</div>
					</div>
				</div>
				<!--/* 問い合わせ情報 end */-->

			</div>
		</div>

	</div>
</body>

</html>