<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout(title='顧客一覧')}">

<head>
	<meta charset="UTF-8">
	<title th:text="${title}"></title>
</head>

<body>
	<div class="mt-3" layout:fragment="content">
		<p class="lead" th:text="${title}"></p>
		<a class="btn btn-secondary" th:href="@{/customer/create}" th:text="顧客登録"></a>

		<div class="d-flex justify-content-between">
			<form name="formlink" class="d-flex align-items-end">
				<label class="align-bottom mx-2" th:text="表示件数"></label>
				<select name="selectlink" class="selectlink"
					onchange="if(document.formlink.selectlink.value){location.href=document.formlink.selectlink.value;}">
					<option
						th:value="@{/customer(keyword=${search.keyword}, sortKey=${search.sortKey}, sortDirection=${search.sortDirection}, displayedNum=${5})}"
						th:selected="${search.displayedNum==5}">
						5</option>
					<option
						th:value="@{/customer(keyword=${search.keyword}, sortKey=${search.sortKey}, sortDirection=${search.sortDirection}, displayedNum=${10})}"
						th:selected="${search.displayedNum==10}">
						10</option>
					<option
						th:value="@{/customer(keyword=${search.keyword}, sortKey=${search.sortKey}, sortDirection=${search.sortDirection}, displayedNum=${20})}"
						th:selected="${search.displayedNum==20}">
						20</option>
				</select>
			</form>

			<form th:action="@{/customer}" method="get" th:object="${search}" class="d-flex">
				<input class="form-control mx-2" type="text" th:field="*{keyword}">
				<input type="submit" value="検索">

				<input type="hidden" th:field="*{displayedNum}">
				<input type="hidden" th:field="*{sortKey}">
				<input type="hidden" th:field="*{sortDirection}">
			</form>
		</div>

		<table id="list" class="table table-striped">
			<thead>
				<tr>
					<th>
						<a
							th:href="${search.sortKey == 'id' and search.sortDirection == 'ASC'}?
									 @{/customer(keyword=${search.keyword}, sortKey=${'id'}, sortDirection=${'DESC'}, displayedNum=${search.displayedNum})} :
									 @{/customer(keyword=${search.keyword}, sortKey=${'id'}, sortDirection=${'ASC'}, displayedNum=${search.displayedNum})}">
							顧客ID</a>
					</th>
					<th>
						<a
							th:href="${search.sortKey == 'last_name' and search.sortDirection == 'ASC'}?
									 @{/customer(keyword=${search.keyword}, sortKey=${'last_name'}, sortDirection=${'DESC'}, displayedNum=${search.displayedNum})} :
									 @{/customer(keyword=${search.keyword}, sortKey=${'last_name'}, sortDirection=${'ASC'}, displayedNum=${search.displayedNum})}">
							顧客名</a>
					</th>
					<th>
						<a
							th:href="${search.sortKey == 'address' and search.sortDirection == 'ASC'}?
									 @{/customer(keyword=${search.keyword}, sortKey=${'address'}, sortDirection=${'DESC'}, displayedNum=${search.displayedNum})} :
									 @{/customer(keyword=${search.keyword}, sortKey=${'address'}, sortDirection=${'ASC'}, displayedNum=${search.displayedNum})}">
							住所</a>
					</th>
					<th>
						<a
							th:href="${search.sortKey == 'phone_number' and search.sortDirection == 'ASC'}?
									 @{/customer(keyword=${search.keyword}, sortKey=${'phone_number'}, sortDirection=${'DESC'}, displayedNum=${search.displayedNum})} :
									 @{/customer(keyword=${search.keyword}, sortKey=${'phone_number'}, sortDirection=${'ASC'}, displayedNum=${search.displayedNum})}">
							電話番号</a>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item:${page}">
					<td><a th:text="${item.id}" th:href="@{/customer/{id}(id=${item.id})}"></a></td>
					<td><a th:text="${item.getFullName()}" th:href="@{/customer/{id}(id=${item.id})}"></a></td>
					<td><a th:text="${item.address}" th:href="@{/customer/{id}(id=${item.id})}"></a></td>
					<td><a th:text="${item.phoneNumber}" th:href="@{/customer/{id}(id=${item.id})}"></a></td>
				</tr>
			</tbody>
		</table>

		<div th:if="${page.totalPages > 0}" class="col-auto">
			<nav>
				<ul class="pagination">
					<!-- 前へ -->
					<li th:if="${page.hasPrevious()}" class="page-item">
						<a class="page-link"
							th:href="@{/customer(keyword=${search.keyword}, sortKey=${search.sortKey}, sortDirection=${search.sortDirection}, displayedNum=${search.displayedNum}, page=${page.number - 1})}">
							前へ
						</a>
					</li>

					<!-- ページ番号 -->
					<th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}" th:switch="${page.number}">
						<li th:case="${i}" class="page-item active">
							<a class="page-link" th:text="${i + 1}">
							</a>
						</li>
						<li th:case="*" class="page-item">
							<a class="page-link"
								th:href="@{/customer(keyword=${search.keyword}, sortKey=${search.sortKey}, sortDirection=${search.sortDirection}, displayedNum=${search.displayedNum}, page=${i})}"
								th:text="${i + 1}">
							</a>
						</li>
					</th:block>

					<!-- 次へ -->
					<li th:if="${page.hasNext()}" class="page-item">
						<a class="page-link"
							th:href="@{/customer(keyword=${search.keyword}, sortKey=${search.sortKey}, sortDirection=${search.sortDirection}, displayedNum=${search.displayedNum}, page=${page.number + 1})}">
							次へ
						</a>
					</li>
				</ul>
			</nav>
		</div>

	</div>
</body>

</html>