<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout(title='案件登録')}">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/edit.css}">
	<script src="/js/formDoubleSubmission.js"></script>
	<title th:text="${title}"></title>
</head>
<body>
	<div class="mt-3" style="width:90%; margin: 0 auto;" layout:fragment="content">
		<div class="card m-3">
			<div class="card-header">
				<span>新規案件登録</span>
			</div>
			<div class="card-body">
				<form th:action="@{/case/create/{id}(id=${caseEntryForm.customerId})}" method="post"
					th:object="${caseEntryForm}">
					<input type="hidden" th:field="*{customerId}">

					<div class="row mb-3">
						<label class="col-sm-2 col-form-label">案件名</label>
						<div class="col-sm-4">
							<input class="form-control" type="text" th:field="*{caseName}">
						</div>
						<span th:if="${#fields.hasErrors('caseName')}" th:errors="*{caseName}" th:errorclass="err">
					</div>

					<div class="row mb-3">
						<label class="col-sm-2 col-form-label d-flex align-items-center">備考</label>
						<div class="col-sm-8">
							<textarea class="form-control" th:field="*{memo}" rows="3"></textarea>
						</div>
					</div>
					<div>
						<input type="button"
							th:onclick="|location.href='@{/customer/{id}(id=${caseEntryForm.customerId})}'|" value="取消">
						<input type="submit" value="保存">
					</div>
				</form>
			</div>
		</div>
	</div>
</body>

</html>