<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.example.casemng.repository.OrderProductMapper">

	<select id="findByOrdersId" resultMap="ordPr">
		select
		product.id as
		prdu_id,
		product.product_name as prdu_product_name,
		product.price as
		prdu_price,

		order_product.quantity as quantity,
		order_product.discount
		as discount

		from
		order_product
		inner join product on
		order_product.product_id = product.id
		where
		order_product.orders_id =
		#{id}
		AND order_product.is_deleted = 0
	</select>

	<select id="findAllExport" resultMap="ordPr">
		SELECT
		orders.id as ord_id,
		orders.order_date as ord_order_date,

		cases.id as ord_case_id,
		cases.case_name as ord_case_case_name,

		customer.id as ord_case_cus_id,
		customer.last_name as ord_case_cus_last_name,
		customer.first_name as
		ord_case_cus_first_name,

		product.id as prdu_id,
		product.product_name as
		prdu_product_name,
		product.price as
		prdu_price,

		order_product.id as id,
		order_product.quantity as quantity,
		order_product.discount as
		discount
		FROM
		order_product
		LEFT JOIN product ON order_product.product_id
		=
		product.id
		LEFT JOIN orders ON order_product.orders_id = orders.id
		LEFT
		JOIN cases ON orders.case_id = cases.id
		LEFT JOIN customer ON
		cases.customer_id = customer.id

		WHERE
		order_product.is_deleted = 0
		AND
		orders.is_deleted = 0
		AND
		cases.is_deleted = 0
		AND customer.is_deleted =
		0
	</select>

	<select id="findById" resultType="OrderProduct">
		select
		*
		from
		order_product
		where
		id = #{id}
		and order_product.is_deleted = 0
	</select>

	<select id="findByIdAll" resultType="OrderProduct">
		select
		*
		from
		order_product
		where
		id = #{id}
	</select>

	<resultMap type="com.example.casemng.entity.OrderProduct"
		id="ordPr">
		<id property="id" column="id" />
		<result property="ordersId" column="orders_id" />
		<result property="productId" column="product_id" />
		<result property="quantity" column="quantity" />
		<result property="discount" column="discount" />
		<result property="isDeleted" column="is_deleted" />
		<association property="product" resultMap="prdu"
			columnPrefix="prdu_" />
		<association property="orders" resultMap="ord"
			columnPrefix="ord_"></association>
	</resultMap>

	<resultMap type="com.example.casemng.entity.Product"
		id="prdu">
		<id property="id" column="id" />
		<result property="productName" column="product_name" />
		<result property="productCategoryId"
			column="product_category_id" />
		<result property="price" column="price" />
		<result property="stock" column="stock" />
		<result property="choose" column="is_choose" />
	</resultMap>

	<resultMap type="com.example.casemng.entity.Order" id="ord">
		<id property="id" column="id" />
		<result property="orderDate" column="order_date" />
		<result property="memo" column="memo" />
		<association property="cases" resultMap="case"
			columnPrefix="case_" />
	</resultMap>

	<resultMap type="com.example.casemng.entity.Case" id="case">
		<id property="id" column="id" />
		<result property="caseName" column="case_name" />
		<result property="customerId" column="customer_id" />
		<result property="caseDate" column="case_date" />
		<result property="shippingStatus" column="shipping_status" />
		<result property="memo" column="memo" />
		<result property="isDeleted" column="is_deleted" />
		<association property="customer" resultMap="cus"
			columnPrefix="cus_" />
	</resultMap>

	<resultMap type="com.example.casemng.entity.Customer"
		id="cus">
		<id property="id" column="id" />
		<result property="lastName" column="last_name" />
		<result property="firstName" column="first_name" />
		<result property="zipcode" column="zipcode" />
		<result property="address" column="address" />
		<result property="phoneNumber" column="phone_number" />
		<result property="memo" column="memo" />
		<result property="isDeleted" column="is_deleted" />
	</resultMap>
	
	<update id="edit" parameterType="java.util.List">
		<foreach collection="list" item="item" separator=";">
			UPDATE order_product
			SET
			product_id = #{item.productId},
			quantity = #{item.quantity},
			discount = #{item.discount}
			WHERE
			id = #{item.id}
		</foreach>
	</update>
	
	<insert id="addOrderProduct" parameterType="java.util.List">
		insert into
		order_product(orders_id, product_id, quantity, discount)
		values
		<foreach collection="list" item="item" separator=",">
			(
			#{item.ordersId}, 
			#{item.productId}, 
			#{item.quantity},
			#{item.discount}
			)
		</foreach>
	</insert>

	<insert id="create" parameterType="java.util.List">
		insert into
		order_product
		(
		orders_id,
		product_id,
		quantity,
		discount
		)
		values
		<foreach collection="list" item="item" separator=",">
			(
			#{item.ordersId},
			#{item.productId},
			#{item.quantity},
			#{item.discount}
			)
		</foreach>
	</insert>
	
	<update id="logicalDelete" parameterType="java.util.List">
		<foreach collection="list" item="item" separator=";">
			UPDATE order_product
			SET
			product_id = #{item.productId},
			quantity = #{item.quantity},
			discount = #{item.discount},
			is_deleted = 1
			WHERE
			id = #{item.id}
		</foreach>
	</update>

</mapper>