<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.casemng.repository.UserMapper">

	<select id="count" resultType="Long">
		select
		count(users.id)
		
		from
		users
		where
		concat(users.id, users.last_name, users.email_address, users.is_deleted) like #{searchKey}
	</select>
	
	<select id="findByUsername" resultMap="user">
		select
		users.id,
		users.user_id,
		users.password,
		users.last_name,
		users.first_name,
		users.email_address,
		users.roles_id,
		users.is_deleted,

		roles.id AS role_id,
		roles.role_name AS role_role_name
		from
		users
		INNER JOIN roles ON users.roles_id = roles.id
		where
		users.user_id = #{userId}
	</select>

	<select id="findAll" resultMap="user">
		select
		users.id,
		users.user_id,
		users.password,
		users.last_name,
		users.first_name,
		users.email_address,
		users.roles_id,
		users.is_deleted
		
		from
		users
	</select>
		
	<select id="findWithoutThisId" resultType="User">
		select
		users.id,
		users.user_id
		
		from
		users
		where
		users.id != #{id};
	</select>
	
	<select id="findById" resultMap="user">
		select
		users.id,
		users.user_id,
		users.password,
		users.last_name,
		users.first_name,
		users.email_address,
		users.roles_id,
		users.is_deleted
		
		from
		users
		where
		users.id = #{id}
	</select>
	
	<select id="findByKeyword" resultMap="user">
		select
		users.id,
		users.user_id,
		users.password,
		users.last_name,
		users.first_name,
		users.email_address,
		users.roles_id,
		users.is_deleted
		
		from
		users
		where
		concat(users.id, users.last_name, users.email_address, users.is_deleted) like #{searchKey}
		<choose>
            <when test="!pageable.sort.isEmpty()">
                ORDER BY
                <foreach item="order" collection="pageable.sort" separator=",">
                    ${order.property}
                    ${order.direction}
                </foreach>
            </when>
            <otherwise>
                ORDER BY id
            </otherwise>
        </choose>
	</select>
	
	<update id="edit">
		update users
		set
		user_id = #{userId},
		last_name= #{lastName},
		first_name= #{firstName},
		email_address= #{emailAddress},
		roles_id = #{role},
		is_deleted = #{deleted}
		where
		id = #{id}
	</update>
	
	<update id="editPassword">
		update users
		set
		password = #{password}
		where
		id = #{id}
	</update>
	
	<update id="editExceptPassword">
		update users
		set
		user_id = #{userId},
		last_name= #{lastName},
		first_name= #{firstName},
		email_address= #{emailAddress},
		roles_id = #{role},
		is_deleted = #{deleted}
		where
		id = #{id}
	</update>
	
	<update id="editLoginUser">
		update users
		set
		last_name= #{lastName},
		first_name= #{firstName},
		email_address= #{emailAddress}
		where
		id = #{id}
	</update>
	
	<insert id="create">
		insert into users
		(
		user_id,
		password,
		last_name,
		first_name,
		email_address,
		roles_id
		)
		values
		(
		#{userId},
		#{password},
		#{lastName},
		#{firstName},
		#{emailAddress},
		#{role}
		)
	</insert>
	
	<update id="logicalDelete">
		update users
		set
		is_deleted = 1
		where
		id = #{id}
	</update>
	
	<resultMap type="com.example.casemng.model.entity.User" id="user">
		<id property="id" column="id" />
		<result property="userId" column="user_id" />
		<result property="password" column="password" />
		<result property="lastName" column="last_name" />
		<result property="firstName" column="first_name" />
		<result property="emailAddress" column="email_address" />
		<result property="role" column="roles_id" />
		<result property="deleted" column="is_deleted" />
		<association property="roles" columnPrefix="role_" resultMap="role" />
	</resultMap>
	
	<resultMap type="com.example.casemng.model.entity.Role" id="role">
		<id property="id" column="id" />
		<result property="roleName" column="role_name" />
 	</resultMap>

</mapper>